.App {
  text-align: center;
  display: flex;
}

.html {
  height: 100%
}

/* Header */

.header {
  height: 10%;
  position: fixed;
  top: 0;
  color: white;
  background-color: grey;
  width: 100%;
}

.header, h1 {
  float: right;
}

/* SearchList */

.search-list {
  height: calc(100vh-150px);

}
.search-items {
  width: 150px;
  overflow-y: scroll;
}


.search-items, ul {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
}
.search-items, li {
  margin: 5px;
  padding: 5px;
  border-top : 1px solid black;
  list-style-type: none;
}

.search-venues {
  width: 100%;
  height: 50px;
  border-color: red;
}
.footer {
  height: 5%;
  position: fixed;
  bottom: 0;
  color: white;
  background-color: grey;
  width: 100%;
}

.footer, h3 {
  float: right;
}
