.App {
  text-align: center;
}

.html {
  height: 100%;
  width: 100%;
}


.flex-container {
  display: flex;
  background: #fff;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

/* Header */

.header {
  height: 15vh;
  top: 0;
  color: white;
  background-color: grey;
  width: 100vw;
}

.header h1 {
  font-size: 60px;
}

/* SearchList */

.search-items {
  width: 30vw;
  height: 75vh;
}

.search-items li {
  margin: 5px;
  padding: 5px;
  border-top : 1px solid black;
  list-style-type: none;
  font-size: 20px;
}

.search-items ul {
  height: 85%;
  overflow-y: scroll;
}

.search-venues {
  width: 90%;
  height: 5%;
  margin: 5px;
  font-size: 20px;
  padding: 5px;
}

/* Map */

.map-container {
  height: 75vh;
  width: 70vw;
  margin: 0;
  padding:0;
}

/* Infowindow */

.Infowindow-details {
  font-size: 12;
  list-style-type: none;
}

.museum-title {
  text-decoration: underline;
}

.no-address {
  color: red;
}

/* Footer */

.footer {
  height: 10vh;
  bottom: 0;
  color: white;
  background-color: grey;
  width: 100vw;
}

.footer h3 {
  float: right;
  font-size: 30px;
}

/* Responsive */

@media screen and (max-width: 880px) {


  .header {
    height: 10vh;
  }

  .header h1 {
    font-size: 30px;
  }

  .search-items {
    height: 85vh;
  }

  .search-items li {
    font-size: 10px;
  }

  .search-venues {
    height: 10px;
    font-size: 10px;
    width: 80%;
  }

  .map-container {
    height: 85vh;
  }

  .footer {
    height: 5vh;
  }

  .footer h3 {
    font-size: 15px;
  }

}


@media screen and (max-width: 480px) {

  .header {
    height: 10vh;
  }

  .header h1 {
    font-size: 20px;
  }

  .search-items {
    height: 20vh;
    width: 100vw;
  }

  .search-items li {
    font-size: 10px;
  }

  .search-venues {
    height: 10px;
    font-size: 10px;
  }

  .map-container {
    height: 65vh;
    width: 100vw;
  }

  .footer {
    height: 5vh;
  }

  .footer h3 {
    font-size: 10px;
  }

}
